<%- include('../adminlayouts/header.ejs') %>



   
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


      <!-- partial -->
     
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title"> Products Details </h3>
            <nav aria-label="breadcrumb">
    
            </nav>
          </div>
    
         <!-- Your HTML Structure -->

<div class="row">

    <div class="col-md-6 mb-3">
        <div class="input-group">
            <input type="text" id="searchInput" placeholder="Search Products" class="form-control bg-white" style="width: 200px;" oninput="searchFunction()" />
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
            </div>
        </div>
    </div>
    



  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
              <h4 class="card-title">Products List</h4>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                      <tr>
                          <th>Product Image</th>
                          <th>Product Name</th>
                          <th>Description</th>
                          <th>Category</th>
                          <th>Color</th>
                          <th>Stock</th>
                          <th>Price</th>
                          <th>Offer</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <% productsData.forEach(product => { %>
                          <tr>
                              <td>
                                  <div style="width: 100px; height: 100px; overflow: hidden; border-radius: 50%;">
                                      <img src="<%= product.productImage[0] %>" alt=""
                                          style="width: 100%; height: 100%; object-fit: cover; object-position: center;">
                                  </div>
                              </td>
                              <td><%= product.productName %></td>
                              <td><%= product.productDescription %></td>
                              <td><%= product.category.categoryName %></td>
                              <td><%= product.color %></td>
                              <td><%= product.stock %></td>
                              <% if (product.offer) { %>
                                <td>
                                    <del><span style="color: red;">₹<%= product.price %></span></del> <br>
                                    <span style="color: green;">₹<%= product.price - (product.price * (product.offer.percentage/100)).toFixed(2) %></span>
                                </td>
                              <% } else { %>
                                <td>
                                    <span style="color: green;">₹<%= product.price %></span>
                                </td>
                              <% } %>
                            
                             
                              <td>
                                <% if (product.offer) { %>
                                    <button type="submit" class="btn btn-sm btn-outline-danger" onclick="removeOffer('<%= product._id %>')">Remove Offer</button>
                                <% } else { %>
                                    <button type="submit" class="btn btn-sm btn-outline-success" onclick="showModal('<%= product._id %>')">Apply Offer</button>
                                <% } %>
                            </td>
                            
                              
                              <td>
                                  <div class="d-flex">
                                    <a href="/admin/productsedit/<%= product._id %>" class="btn btn-sm btn-outline-primary">Edit</a>
                                    <form action="/admin/products/remove/<%= product._id %>" method="post" style="display:inline;">
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Remove</button>
                                    </form>
                                  </div>
                              </td>
                          </tr>
                      <% }); %>
                  </tbody>
              </table>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog">
     
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Apply Offer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          
            <% offerId.forEach(offer => { %>
                <div class="modal-body" data-offerid="<%= offer._id %>">
                    <div class="row">
                        <div class="col-md-12">
                            <%# console.log("jjjjjjjj") %>
                            <p>Do you want to apply the offer?</p>
                            <hr>
                            <p><strong>Offer Name:</strong> <%= offer.name %></p>
                            <p><strong>Discount:</strong> <%= offer.percentage %>%</p>
                            <p><strong>Starting Date:</strong> <%= offer.startingDate.toLocaleDateString() %></p> 
                            <p><strong>Ending Date:</strong> <%= offer.expiryDate.toLocaleDateString() %></p> 
                            
                        </div>
                    </div>
                
                    <% console.log("pro",  productsData ) %>
                    <div class="row justify-content-center mt-3">
                        <button type="button" class="btn btn-outline-success" onclick="applyOffer('<%= offer._id %>')">Apply</button>
                    </div>
                </div>
                
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button> -->
               
            </div>
          
            <% }); %>
        </div>
     
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    

    <script>
        function showModal(productId){
            $('#myModal').modal('show');
            $('#myModal').data('productId',productId)
            console.log("hh",productId)
           
        }

        const offerElements = document.querySelectorAll('.modal-body');
        offerElements.forEach(elements => {
            elements.onclick = function(){
                const offerId =  this.getAttribute('data-offerid')
                console.log("aaao",offerId)
               
            }
        })

        async function applyOffer(offerId){
            console.log("gg",offerId)
            const productId = $('#myModal').data('productId')
            console.log("apply offer",productId)
            $('#myModal').modal('hide'); 
            try{
                const response = await axios.post('/admin/addProductOffer',{offerId,productId})
                
                if(response.data.sucess){
                    console.log('message:sucess');
                    window.location.reload()
                }
            }catch(error){
                console.error('message:error',error)
            }
        }



        async function removeOffer(productId){
            console.log("pid coming",productId)
            try{
                const response = await axios.post('/admin/deleteProductOffer',{productId})
                console.log('message:sucess');
                window.location.reload()
            }catch(error){
                console.log(error('message:error',error))
            }
        }
    </script>
           
                
      <style>
        /* Style for the search button */
        #searchButton {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        /* Position the search button to the right */
        .input-group-append {
            margin-right: 10px; /* Move the button closer to the input field */
        }

      </style>                   
                        
           <script>
                        function searchFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("searchInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementsByClassName("table")[0];
                    tr = table.getElementsByTagName("tr");
                    var found = false;
                    var noResultsRow = document.getElementById("noResultsRow");

                    // Remove existing "No products available" row if it exists
                    if (noResultsRow) {
                        noResultsRow.remove();
                    }

                    for (i = 0; i < tr.length; i++) {
                        td = tr[i].getElementsByTagName("td")[1]; // Search by Product Name (index 1)
                        if (td) {
                            txtValue = td.textContent || td.innerText;
                            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                                found = true;
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }

                    // Show message if no products found
                    if (!found) {
                        noResultsRow = table.insertRow(-1);
                        noResultsRow.id = "noResultsRow";
                        var cell = noResultsRow.insertCell(0);
                        cell.colSpan = "8"; // Set the colspan to match the number of columns
                        cell.textContent = "No products available";
                    }
                }
           </script>           
      
   
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/assetsadmin/vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="/assetsadmin/vendors/chart.js/Chart.min.js"></script>
  <script src="/assetsadmin/js/jquery.cookie.js" type="text/javascript"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="/assetsadmin/js/off-canvas.js"></script>
  <script src="/assetsadmin/js/hoverable-collapse.js"></script>
  <script src="/assetsadmin/js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page -->
  <script src="/assetsadmin/js/dashboard.js"></script>
  <script src="/assetsadmin/js/todolist.js"></script>
  <!-- End custom js for this page -->
</body>

<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:42 GMT -->

</html>


<%- include('../adminlayouts/footer.ejs') %>