<%- include('../layouts/header.ejs') %>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">


  <!-- BREADCRUMB -->
  <nav class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Breadcrumb -->
          <ol class="breadcrumb mb-0 fs-xs text-gray-400">
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="/">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a class="text-gray-400" href="/cart">Shopping Cart</a>
            </li>
            <li class="breadcrumb-item active">
              Checkout
            </li>
          </ol>

        </div>
      </div>
    </div>
  </nav>

  <!-- CONTENT -->
  <section class="pt-7 pb-12">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">

          <!-- Heading -->
          <h3 class="mb-4">Checkout</h3>

          <!-- Subheading -->
          <p class="mb-10">
            Already have an account? <a class="fw-bold text-reset" href="#!">Click here to login</a>
          </p>

        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-7">

          <!-- Form -->
          <form>

            <!-- Heading -->
            <h6 class="mb-7"></h6>




            <!-- Heading -->
            <h6 class="mb-7">Shipping Details</h6>

            <!-- Shipping details -->
            <div class="table-responsive mb-6">
              <table class="table table-bordered table-sm table-hover mb-0">
                <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
                  <% if (ckeckOutAddress) { %>
                    <% ckeckOutAddress.address.forEach(address=> { %>
                      <div class="mb-4 position-relative">
                        <!-- Action -->
                        <div class="position-absolute top-0 end-0">
                          <!-- Button -->
                          <a class="btn btn-xs btn-circle btn-white-primary"
                            href="/account-address-edit/<%= address._id %>">
                            <i class="fe fe-edit-2"></i>
                          </a>
                          <!-- Button --><!--remove button -->
                          <!-- <a href="/account-address-delete/<%= address._id %>">
                              <button class="btn btn-xs btn-circle btn-white-primary" >
                                <i class="fe fe-x"></i>
                              </button>
                            </a> -->
                        </div>
                        <!-- Address Details -->
                        <p class="text-muted mb-0">
                          <input type="radio" name="selectedAddress" value="<%= address._id %>">
                          <% console.log("selectedAddresslll", address._id) %>
                          <!-- Add a radio button -->
                          <strong>
                            <%= address.userName %>
                          </strong> <br>
                          <%= address.mobileNumber %> <br>
                            <%= address.address %>, <%= address.city %>, <%= address.state %>, <%= address.country %>,
                                    <%= address.pincode %>
                        </p>
                      </div>
                      <hr class="my-4"> <!-- Add a horizontal line to create space -->
                      <% }); %>
                        <% } %>
                </div>

              </table>
            </div>
            <!-- Billing details -->
            <div class="row mb-9">
              <div class="col-12">
                <!-- Button -->
                <a class="btn w-100 btn-lg btn-outline-border" href="/account-address-add?frompage=checkout">
                  Add Address <i class="fe fe-plus"></i>
                </a>
              </div>
            </div>





            <!-- Heading -->
            <h6 class="mb-7">Payment</h6>

            <!-- List group -->
            <div class="list-group list-group-sm mb-7">
              <div class="list-group-item">

                <!-- Radio -->
                <div class="form-check custom-radio">

                  <!-- Input -->
                  <input class="form-check-input" id="checkoutPaymentCard" name="payment" type="radio"
                    data-collapse="show" data-target="#checkoutPaymentCardCollapse">

                  <!-- Label -->
                  <label class="form-check-label fs-sm text-body text-nowrap" for="checkoutPaymentCard">
                    Pay Online
                    <!-- <img class="ms-2" src="assets/img/brands/color/cards.svg" alt="..."> -->
                  </label>

                </div>

              </div>


              <div class="list-group-item">
                <!-- Radio button for selecting COD -->
                <div class="form-check custom-radio">
                  <input class="form-check-input" id="checkoutPaymentWallet" name="paymentMethod" type="radio"
                    value="wallet" required>
                  <label class="form-check-label fs-sm text-body text-nowrap" for="checkoutPaymentWallet">
                    Wallet
                  </label>
                </div>
              </div>
              
              <!-- <div class="list-group-item collapse py-0" id="checkoutPaymentCardCollapse"> -->

              <!-- Form -->
              <!-- <div class="row gx-5 py-5">
                    <div class="col-12">
                      <div class="form-group mb-4">
                        <label class="visually-hidden" for="checkoutPaymentCardNumber">Card Number</label>
                        <input class="form-control form-control-sm" id="checkoutPaymentCardNumber" type="text" placeholder="Card Number *" required>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group mb-4">
                        <label class="visually-hidden" for="checkoutPaymentCardName">Name on Card</label>
                        <input class="form-control form-control-sm" id="checkoutPaymentCardName" type="text" placeholder="Name on Card *" required>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group mb-md-0">
                        <label class="visually-hidden" for="checkoutPaymentMonth">Month</label>
                        <select class="form-select form-select-sm" id="checkoutPaymentMonth">
                          <option>January</option>
                          <option>February</option>
                          <option>March</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="form-group mb-md-0">
                        <label class="visually-hidden" for="checkoutPaymentCardYear">Year</label>
                        <select class="form-select form-select-sm" id="checkoutPaymentCardYear">
                          <option>2017</option>
                          <option>2018</option>
                          <option>2019</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 col-md-4">
                      <div class="input-group input-group-merge">
                        <input class="form-control form-control-sm" id="checkoutPaymentCardCVV" type="text" placeholder="CVV *" required>
                        <div class="input-group-append">
                          <span class="input-group-text" data-bs-toggle="popover" data-bs-placement="top" data-bs-trigger="hover" data-bs-content="The CVV Number on your credit card or debit card is a 3 digit number on VISA, MasterCard and Discover branded credit and debit cards.">
                            <span><i class="fe fe-help-circle"></i></span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div> -->
              <!-- <div class="list-group-item"> -->

              <!-- Radio -->
              <!-- <div class="form-check custom-radio"> -->

              <!-- Input -->
              <!-- <input class="form-check-input" id="checkoutPaymentPaypal" name="payment" type="radio" data-collapse="hide" data-target="#checkoutPaymentCardCollapse"> -->

              <!-- Label -->
              <!-- <label class="form-check-label fs-sm text-body text-nowrap" for="checkoutPaymentPaypal">
                      <img src="assets/img/brands/color/paypal.svg" alt="...">
                    </label>

                  </div>

                </div> -->

              <% if (Number(cartData.reduce((total, product)=> {
                if (product.offerDetails && product.offerDetails.length > 0) {
                return total += ((product.productz.price * product.products.quantity) - (product.productz.price *
                product.products.quantity * (product.offerDetails[0].percentage / 100))).toFixed(2);
                } else {
                return total += product.productz.price * product.products.quantity;
                }
                }, 0)) <= 1000) { %>
                  <div class="list-group-item">
                    <!-- Radio button for selecting COD -->
                    <div class="form-check custom-radio">
                      <input class="form-check-input" id="checkoutPaymentCOD" name="paymentMethod" type="radio"
                        value="COD" required>
                      <label class="form-check-label fs-sm text-body text-nowrap" for="checkoutPaymentCOD">
                        Cash on Delivery
                      </label>
                    </div>
                  </div>
                  <% } %>


            </div>

            <!-- Notes -->
            <!-- <textarea class="form-control form-control-sm mb-9 mb-md-0 fs-xs" rows="5" placeholder="Order Notes (optional)"></textarea> -->

          </form>

        </div>
        <div class="col-12 col-md-5 col-lg-4 offset-lg-1">

          <!-- Heading -->
          <h6 class="mb-7">Order Items</h6>

          <!-- Divider -->
          <!-- <hr class="my-7"> -->

          <!-- List group -->
          <!-- <ul class="list-group list-group-lg list-group-flush-y list-group-flush-x mb-7">
              <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-4"> -->

          <!-- Image -->
          <!-- <a href="product.html">
                      <img src="assets/img/products/product-6.jpg" alt="..." class="img-fluid">
                    </a> -->

          <!-- </div>
                  <div class="col"> -->

          <!-- Title -->
          <!-- <p class="mb-4 fs-sm fw-bold">
                      <a class="text-body" href="product.html">Cotton floral print Dress</a> <br>
                      <span class="text-muted">$40.00</span>
                    </p> -->

          <!-- Text -->
          <!-- <div class="fs-sm text-muted">
                      Size: M <br>
                      Color: Red
                    </div> -->

          <!-- </div>
                </div>
              </li> -->
          <!-- <li class="list-group-item">
                <div class="row align-items-center">
                  <div class="col-4"> -->

          <!-- Image -->
          <!-- <a href="product.html">
                      <img src="assets/img/products/product-10.jpg" alt="..." class="img-fluid">
                    </a> -->

          <!-- </div>
                  <div class="col"> -->

          <!-- Title -->
          <!-- <p class="mb-4 fs-sm fw-bold">
                      <a class="text-body" href="product.html">Suede cross body Bag</a> <br>
                      <span class="text-muted">$49.00</span>
                    </p> -->

          <!-- Text -->
          <!-- <div class="fs-sm text-muted">
                      Color: Brown
                    </div> -->

          <!-- </div>
                </div>
              </li>
            </ul> -->

          <!-- Card -->
          <div class="card mb-9 bg-light">
            <div class="card-body">
              <ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
                <li class="list-group-item d-flex">
                  <span>Price</span> <span class="ms-auto fs-sm">₹<%= Number(cartData.reduce((total, product)=> {
                      return total += product.productz.price * product.products.quantity;
                      }, 0).toFixed(2)) %></span>
                </li>

                <!-- Discount -->
                <li class="list-group-item d-flex">
                  <span id="discount">Discount</span> <span class="ms-auto fs-sm text-success" id="dis">--- ₹<%=
                      Number(cartData.reduce((total, product)=> {
                      if (product.offerDetails && product.offerDetails.length > 0) {
                      const discountAmount = (product.productz.price * product.products.quantity) *
                      (product.offerDetails[0].percentage / 100);
                      return total += discountAmount;
                      } else {
                      return total += 0; // No discount for this product
                      }
                      }, 0).toFixed(2)) %></span>
                </li>

                <li class="list-group-item d-flex">
                  <span>Shipping</span> <span class="ms-auto fs-sm text-success">FREE</span>
                </li>
                <li class="list-group-item d-flex fs-lg fw-bold">
                  <span>Total</span> <span class="ms-auto" id="tot">₹<%= Number(cartData.reduce((total, product)=> {
                      if (product.offerDetails && product.offerDetails.length > 0) {
                      return total += ((product.productz.price * product.products.quantity) - (product.productz.price *
                      product.products.quantity * (product.offerDetails[0].percentage / 100))).toFixed(2);
                      } else {
                      return total += product.productz.price * product.products.quantity;
                      }
                      }, 0)) %></span>
                </li>









              </ul>
            </div>
          </div>
          <div>


          </div>

          <div class="col-md-6">
            <h6 class="border-left mb-20">Coupons</h6>
            <div class="payment-details pl-10 mb-50"
              style="border: 1px solid #f8f8f8; border-radius: 5px; width: 200%;box-shadow: 0 0 5px rgba(122, 116, 116, 0.1);">
              <ul class="list-unstyled">
                <% for (let i=0; i < coupon.length; i++) { %>
                  <li>
                    <span style="color: rgb(224, 221, 16);">
                      <%= coupon[i].couponCode %>
                    </span>
                    <%= coupon[i].couponDescription %>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>
          <br>

          <div class="row" id="inputCoupon">
            <div class="col-sm-8">
              <input type="text" id="couponCode" name="couponCode" class="form-control" placeholder="Enter Coupon Code">
            </div>
            <div class="col-sm-4">
              <button type="button" id="apply" class="btn btn-secondary"
                style="border-radius: 3px; height: 100%;">Apply</button>
            </div>
          </div>
          <p class="mt-2" id="error" style="color: rgb(248, 91, 91);"></p>

          <div class="row d-none" id="afterApplied">
            <div class="col-sm-8">
              <p style="color: green;">Coupon applied successfully.</p>
            </div>
            <div class="col-sm-4">
              <button type="button" id="remove" class="btn btn-danger">Remove</button>
            </div>
          </div>



          <!-- Disclaimer -->
          <p class="mb-7 fs-xs text-gray-500">
            Your personal data will be used to process your order, support
            your experience throughout this website, and for other purposes
            described in our privacy policy.
          </p>

          <!-- Button -->
          <button id="place-order-btn" class="btn w-100 btn-dark" onclick="razorpayment()">
            Place Order
          </button>


        </div>
      </div>
    </div>
  </section>

  <!-- FEATURES -->
  <section class="bg-light py-9">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-truck fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="heading-xxs mb-1">
                Free shipping
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                From all orders over $100
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-repeat fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Free returns
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                Return money within 30 days
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-md-0">

            <!-- Icon -->
            <i class="fe fe-lock fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Secure shopping
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                You're in safe hands
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex">

            <!-- Icon -->
            <i class="fe fe-tag fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Over 10,000 Styles
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                We have everything you need
              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

  <script>
    function razorpayment() {
      fetch('/razorpay-payment', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        }
      })
        .then(response => response.json())

        .then(order => {
          // Log order details for debugging
          // console.log('Received order details:', order);
          // console.log("payment order created successfully....")
          // console.log("payment order created successfully....", order.id)



          // Configure Razorpay button
          var options = {
            key: '<%= razorpayKey %>',
            amount: order.amount,
            currency: order.currency,
            order_id: order.id,
            name: 'SERENE',
            description: 'Order Payment',
            handler: function (response) {
              // Handle successful payment
              // console.log('Razorpay payment success:', response);
              //   console.log("option coming",options)
              // Call the create-order API after successful payment
              createOrder(order.id); // Assuming order.id is the Razorpay order ID
            },
            prefill: {
              name: 'User Name',
              email: 'user@example.com',
              contact: '1234567890',
            },
            notes: {
              address: 'User Address',
            },
            theme: {
              color: '#012652',
            },
          };

          var rzp = new Razorpay(options);
          rzp.on('payment.success', function (response) {
            createOrder(order.id, 'Placed'); // Set status to 'Placed' for successful payment
          });

          rzp.on('payment.failed', function (response) {
            paymentFailed(order.id, 'Pending'); // Set status to 'Pending' for failed payment
          });
          rzp.open();
        })
    }

    async function createOrder(orderId, status) {
      const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked').value;
      try {
        const response = await fetch('/place-order', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ selectedAddress, paymentMethod: 'Razorpay', orderId, status }),
        });


        if (response.ok) {

          Swal.fire({
            title: 'Order Placed!',
            text: 'Your order has been placed successfully.',
            icon: 'success',
            confirmButtonText: 'OK',
          }).then(() => {
            window.location.href = '/order-sucess' //to redirect to the sucesss page
          })

        } else {
          console.error("Error creating order: ", result.error);
        }
      } catch (error) {
        console.error('Error creating order:', error);

        Swal.fire({
          title: 'Error!',
          text: 'Failed to place order. Please try again later.',
          icon: 'error',
          confirmButtonText: 'OK',
        });
      }
    }

    async function paymentFailed(orderId, status) {
    const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked').value;
    try {
        const response = await fetch('/place-order', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selectedAddress, paymentMethod: 'Razorpay', orderId, status }),
        });
        if (!response.ok) {
            throw new Error('Failed to place order');
        }
        // Redirect to the order page
        window.location.href = '/orders?orderId=' + orderId;
    } catch (error) {
        console.error('Error creating order:', error);
        Swal.fire({
            title: 'Error!',
            text: 'Failed to place order. Please try again later.',
            icon: 'error',
            confirmButtonText: 'OK',
        });
    }
}


  </script>





  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



  <script>
    // Frontend code
    const placeOrderBtn = document.getElementById('place-order-btn');

    placeOrderBtn.addEventListener('click', async () => {
      try {
        const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked').value;
        const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
        console.log(selectedAddress);
        console.log(paymentMethod);

        if (paymentMethod === 'COD') {

          // Make the fetch request to place the COD order
          const response = await fetch('/place-order', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selectedAddress, paymentMethod }),
          });

          if (response.ok) {
            Swal.fire({
              title: 'Order Placed!',
              text: 'Your order has been placed successfully.',
              icon: 'success',
              confirmButtonText: 'OK',
            }).then(() => {
              window.location.href = '/order-sucess';
            });
          } else {
            const errorMessage = await response.json();
            Swal.fire({
              title: 'Error!',
              text: errorMessage.message || 'Failed to place order',
              icon: 'error',
              confirmButtonText: 'OK',
            });
          }
        }

      } catch (error) {
        console.error(error);


      }
    });


  </script>

  <style>
    .text-success {
      color: green;
    }
  </style>







  <script>
    //coupon

    document.getElementById('apply').addEventListener('click', async function () {
      const couponCode = document.getElementById('couponCode').value;
      const response = await fetch('/applyCoupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ couponCode })
      });
      const data = await response.json();
      if (data.success) {
        console.log("data", data)

        document.getElementById('tot').innerText = `₹${data.totals}`;


        // Display the discount amount
        document.getElementById('dis').innerText = `--- ₹${data.discount}`;


        // Hide the inputCoupon section and show the afterApplied section
        document.getElementById('inputCoupon').classList.add('d-none');
        document.getElementById('afterApplied').classList.remove('d-none');
      } else {

        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: data.message,
        });
      }
    });



    //remove coupon
    document.getElementById('remove').addEventListener('click', async function () {
      const response = await fetch('/removeCoupon', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ couponCode })
      });
      const data = await response.json();
      console.log("serverrespnse", data);
      if (data.sucess) {
        // Update the total element in the HTML
        document.getElementById('tot').innerText = data.totalAmount;
        document.getElementById('dis').innerText = `--- ₹${0}`;
        // Hide the afterApplied section and show the inputCoupon section
        document.getElementById('afterApplied').classList.add('d-none');
        document.getElementById('inputCoupon').classList.remove('d-none');
      } else {

        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: data.message,
        });
      }
    });



  </script>



<script>
  const walletPayment = document.getElementById('place-order-btn');

    walletPayment.addEventListener('click', async () => {
      try {
        const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked').value;
        const paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
        console.log(selectedAddress);
        console.log(paymentMethod);

        if (paymentMethod === 'wallet') {

          // Make the fetch request to place the COD order
          const response = await fetch('/place-order', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ selectedAddress, paymentMethod }),
          });

          if (response.ok) {
            Swal.fire({
              title: 'Order Placed!',
              text: 'Your order has been placed successfully.',
              icon: 'success',
              confirmButtonText: 'OK',
            }).then(() => {
              window.location.href = '/order-sucess';
            });
          } else {
            const errorMessage = await response.json();
            Swal.fire({
              title: 'Error!',
              text: errorMessage.message || 'Failed to place order',
              icon: 'error',
              confirmButtonText: 'OK',
            });
          }
        }

      } catch (error) {
        console.error(error);


      }
    });
 
</script>


  <%- include('../layouts/footer.ejs') %>