<%- include('../layouts/header.ejs') %>

    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">
                My Account
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div  class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">My Account</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" href="/orders">
                  Orders
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/wishlist">
                  Wishlist
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/account-personal-info">
                  Personal Info
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/account-address">
                  Addresses
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/wallet">
                  Wallet
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/userReferral">
                  Referral
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="/logout">
                  Logout
                </a>
              </div>
            </nav>

          </div>
          <div id="refreshDiv" class="col-12 col-md-9 col-lg-8 offset-lg-1">
            <% orderData.forEach(order => { %>
            <!-- Order -->
            <div class="card card-lg mb-5">
                <div class="card-body pb-0">
                    <!-- Info -->
                    <div class="card card-sm">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Image</th>
                                                <th class="text-center">Name</th>
                                                <th class="text-center">Price</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Date</th>
                                                <!-- <th class="text-center">Coupon Amount</th> -->
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% order.details.forEach(detail => { %>
                                            <tr>
                                                <td class="text-center">
                                                    <!-- Product Image -->
                                                    <img src="<%= detail.productId.productImage[0] %>" alt="Product Image" class="img-fluid" style="max-width: 50px;">
                                                </td>
                                                <td class="text-center"><%= detail.productId.productName %></td>
                                                <td class="text-center"><%= detail.price %></td>
                                                <td class="text-center"><%= detail.quantity %></td>
                                                <td class="text-center"><%= order.date.toLocaleDateString() %></td>
                                                <!-- <td class="text-center"><%#= order.coupon_amount %></td> -->
                                                <td class="text-center">
                                                    <% if (detail.status === 'Delivered') { %>
                                                        <!-- Display Delivered status -->
                                                        <p style="color: green;">Delivered</p>
                                                    <% } else if (detail.status === 'Placed') { %>
                                                        <!-- Display Placed status -->
                                                        <p style="color: blue;">Placed</p>
                                                    <% } else if (detail.status === 'Failed') { %>
                                                        <!-- Display Retry Payment Button -->
                                                        <button class="btn btn-sm w-100 btn-outline-dark" onclick="retryPayment('<%= order._id %>')">Retry Payment</button>
                                                    <% } else if (detail.status === 'Cancelled') { %>
                                                        <!-- Display Cancelled status -->
                                                        <p style="color: gray;">Cancelled</p>
                                                    <% } else if (detail.status === 'Pending') { %>
                                                        <!-- Display Retry Payment Button -->
                                                        <p style="color: gray;">Pending</p>
                                                    <% } %>
                                                </td>
                                               
                                                <td class="text-center">
                                                  <% if (detail.status === 'Failed' || detail.status === 'Pending') { %>
                                                      <!-- Display Retry Payment Button -->
                                                      <button class="btn btn-sm w-100 btn-outline-dark" onclick="retryPayment('<%= order._id %>')">Retry Payment</button>
                                                  <% } else if (detail.status === 'Delivered') { %>
                                                      <!-- Return Button -->
                                                      <a class="btn btn-sm w-100 btn-outline-dark" href="#" onclick="showReturnReasonPrompt('<%= order._id %>', '<%= detail.productId._id %>')">Return</a>
                                                  <% } else if (detail.status === 'Placed' || detail.status === 'Shipped') { %>
                                                      <!-- Cancel Button -->
                                                      <a class="btn btn-sm w-100 btn-outline-dark cancel-order-btn" href="#" data-order-id="<%= order._id %>" data-product-id="<%= detail.productId._id %>">Cancel order</a>
                                                  <% } %>
                                              </td>

                                              <% if (detail.returnStatus) { %>
                                                <td class="text-center">
                                                    <% if (detail.returnStatus === 'Accepted') { %>
                                                        <!-- Display return status as accepted -->
                                                        <p style="color: green;">Return Accepted</p>
                                                    <% } else if (detail.returnStatus === 'Rejected') { %>
                                                        <!-- Display return status as rejected -->
                                                        <p style="color: red;">Return Rejected</p>
                                                    <% } else if (detail.returnStatus === 'Pending') { %>
                                                        <!-- Display return status as pending -->
                                                        <p style="color: orange;">Return Pending</p>
                                                    <% } %>
                                                </td>
                                           
                                            <% } %>
                                            </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                    
                      <div class="col-6">

                        <!-- Button -->
                        <a class="btn btn-sm w-100 btn-outline-dark" href="/orderview?orderId=<%= order._id %>&productId=<%= order.details[0].productId %>">
                          Order Details
                        </a> 
                       
                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
        
        
          ---------------------------------------------------------------------------------------------------------------
          


--------------------------------------------------------------------------------------------------------

<nav class="d-flex justify-content-center justify-content-md-end">
  <ul class="pagination pagination-sm text-gray-400">
      <% if (currentPage > 1) { %>
          <li class="page-item">
              <a class="page-link page-link-arrow" href="?page=<%= currentPage - 1 %>">
                  <i class="fa fa-caret-left"></i>
              </a>
          </li>
      <% } %>
      <% for (let page = 1; page <= totalPages; page++) { %>
          <li class="page-item <%= currentPage === page ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= page %>"><%= page %></a>
          </li>
      <% } %>
      <% if (currentPage < totalPages) { %>
          <li class="page-item">
              <a class="page-link page-link-arrow" href="?page=<%= currentPage + 1 %>">
                  <i class="fa fa-caret-right"></i>
              </a>
          </li>
      <% } %>
  </ul>
</nav>


          </div>
        </div>
      </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




    <script>
      document.addEventListener('DOMContentLoaded', function() {
    const cancelOrderButtons = document.querySelectorAll('.cancel-order-btn');
    cancelOrderButtons.forEach(function(button) {
      console.log("coming")
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const orderId = button.getAttribute('data-order-id');
            const productId = button.getAttribute('data-product-id'); 
            console.log("orderIdjhj",orderId);
            console.log("productId",productId)
            cancelOrder(orderId, productId);
          
        });
    });  

    async function cancelOrder(orderId, productId) {
    try {
        const confirmation = await Swal.fire({
            title: 'Are you sure?',
            text: 'Do you really want to cancel this order?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, cancel it!',
            cancelButtonText: 'No, keep it'
        }); 

        if (confirmation.isConfirmed) {
            const response = await fetch(`/cancel-order`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ orderId: orderId, productId: productId })
            });
            console.log("response",response);
            if (response.ok) {
                const orderElement = document.querySelector(`[data-order-id="${orderId}"]`);


              
                Swal.fire('Cancelled!', 'Your order has been cancelled.', 'success').then(() => {
                 
                 
                    window.location.reload();
                });
            } else {
                console.error('Failed to cancel order:', response.statusText);
            }
        }
    } catch (error) {
        console.error('Failed to cancel order:', error.message);
    }
}

});


function showReturnReasonPrompt(orderId, productId) {
    Swal.fire({
        title: 'Return Reason',
        input: 'text',
        inputPlaceholder: 'Enter your return reason here',
        showCancelButton: true,
        confirmButtonText: 'Submit',
        cancelButtonText: 'Cancel',
        inputValidator: (value) => {
            if (!value) {
                return 'You need to write something!';
            }
        }
    }).then((result) => {
        if (result.isConfirmed) {
            const returnReason = result.value;
           
            fetch('/order-return', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ orderId: orderId, productId: productId, returnReason: returnReason })
            }).then(response => {
                if (response.ok) {
                    Swal.fire('Return Request Sent', 'Your return request has been sent.', 'success');
                } else {
                    Swal.fire('Error', 'Failed to send return request.', 'error');
                }
            }).catch(error => {
                console.error('Failed to send return request:', error.message);
            
            });
        }
    });
}





    </script>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  function retryPayment(orderId) {
    fetch(`/pendingPay/${orderId}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        }
    })
    .then(response => response.json())
    .then(order => {
      var options = {
          key: '<%= razorpayKey %>',
          amount: order.amount,
          currency: order.currency,
          order_id: order.id,
          name: 'SERENE',
          description: 'Order Payment',
          handler: function (response) {
     
            
            console.log("orderId",orderId)
            fetch(`/placingPayment/${orderId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ orderId }),
                })
                .then(response => {
                  console.log("response",response)
                    if (response.ok) {
                      location.reload();
                        console.log('Order status updated successfully');
                    } else {
                        console.error('Failed to update order status:', response.statusText);
                    }
                })
                .catch(error => {
                    console.error('Failed to update order status:', error.message);
                });
          },
          prefill: {
          name: 'User Name',
          email: 'user@example.com',
          contact: '1234567890',
          },
          notes: {
          address: 'User Address',
          },
          theme: {
          color: '#012652', 
          },
        };

        var rzp = new Razorpay(options);
       
        rzp.open();
    })
    .catch(error => {
        console.error('Failed to fetch order details:', error.message);
    });
}

</script>
     

    <%- include('../layouts/footer.ejs') %>