<%- include('../layouts/header.ejs') %>

  <!-- CONTENT -->
  <section class="py-11">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Filters -->
          <form class="mb-10 mb-md-0" method="get" id="filterForm">
            <ul class="nav nav-vertical" id="filterNav">
              <li class="nav-item">

                <!-- Toggle -->
                <a class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6" data-bs-toggle="collapse"
                  href="#categoryCollapse">
                  Category
                </a>

                <!-- Collapse -->
                <div class="collapse show" id="categoryCollapse">
                  <div class="form-group">
                    <ul class="list-styled mb-0" id="productsNav">
                      <li class="list-styled-item">
                        <a class="list-styled-link" href="#">
                          All Products
                        </a>
                      </li>
                      <li class="list-styled-item">


                      </li>
                      <li class="list-styled-item">

                        <!-- Toggle -->
                        <a class="list-styled-link" data-bs-toggle="collapse" href="#dressesCollapse"
                          aria-expanded="true">
                          T-Shirt
                        </a>

                        <!-- Collapse -->
                        <div class="collapse show" id="dressesCollapse">
                          <div class="py-4 ps-5">
                            <% for(let i=0 ; i < cat.length ; i++) { %>
                              <div class="form-check mb-3">

                                <label class="form-check-label"> <input name="category" type="checkbox"
                                    value="<%= cat[i]._id  %>">
                                  <%= cat[i].categoryName %>
                                </label>
                              </div>
                              <% } %>

                          </div>
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>

              </li>




              <li class="nav-item">

                <!-- Toggle -->
                <a class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6" data-bs-toggle="collapse"
                  href="#priceCollapse">
                  Price
                </a>

                <!-- Collapse -->
                <div class="collapse" id="priceCollapse" data-simplebar-collapse="#priceGroup">

                  <!-- Form group-->
                  <div class="form-group form-group-overflow mb-6" id="priceGroup">
                    <div class="form-check mb-3">

                      <label class="form-check-label" for="price"> <input class="form-check-input" name="price"
                          type="checkbox" value="₹299 - ₹499">
                        ₹299 - ₹499
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input value=" ₹499 - ₹599" class="form-check-input" name="price" type="checkbox">
                      <label class="form-check-label" for="priceTwo">
                        ₹499 - ₹599
                      </label>
                    </div>
                    <div class="form-check mb-3">
                      <input value=" ₹599 - ₹699" class="form-check-input" name="price" type="checkbox">
                      <label class="form-check-label" for="priceThree">
                        ₹599 - ₹699
                      </label>
                    </div>
                    <div class="form-check">
                      <input value=" ₹699" class="form-check-input" name="price" type="checkbox">
                      <label class="form-check-label" for="priceFour">
                        ₹699 and Up
                      </label>
                    </div>
                  </div>



                </div>

              </li>


            </ul>
            <button type="submit">filter</button>
          </form>

        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <!------------------------------------------------------------------------------------------------------------>
          <!-- Slider -->
          <div class="flickity-page-dots-inner mb-9" data-flickity='{"pageDots": true}'>

          </div>

          <!-- Header -->
          <div class="row align-items-center mb-7">
            <div class="col-12 col-md">

              <!-- Heading -->
              <h3 class="mb-1">Free Size Collections</h3>

              <!-- Breadcrumb -->
              <ol class="breadcrumb mb-md-0 fs-xs text-gray-400">
                <li class="breadcrumb-item">
                  <a class="text-gray-400" href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">
                  Clothing
                </li>
              </ol>

            </div>


            <div class="row justify-content-end">
              <div class="col-auto">
                <select class="form-select form-select-xs" onchange="sortItems(this.value)">
                  <option selected disabled>Sort by</option>
                  <option value="popular">Most popular</option>
                  <option value="price-low">Price: Low to High</option>
                  <option value="price-high">Price: High to Low</option>
                  <option value="new">New Arrivals</option>
                  <option value="aA-zZ">aA-zZ</option>
                  <option value="zZ-aA">zZ-aA</option>
                </select>
              </div>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" id="search-item" class="form-control form-select-xs" placeholder="Search Products"
                    onclick="searchProducts()">
                  <i class="fe fe-search search-icon"></i>
                </div>
              </div>
            </div>



          </div>



          <!-- Products -->
          <div class="row" id="product-list">
            <% products.forEach(product=> { %>
              <div class="col-6 col-md-4 product">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge bg-white text-body card-badge card-badge-start text-uppercase">
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a class="card-img-hover" href="/product/<%= product._id %>">
                      <img class="card-img-top card-img-back" src="<%= product.productImage[0] %>" alt="...">
                      <img class="card-img-top card-img-front" src="<%= product.productImage[0] %>" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <!-- <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span> -->
                      <span class="card-action">
                        <a href="/addToCart/<%= product._id %>">
                          <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                            <i class="fe fe-shopping-cart"></i>
                          </button>
                        </a>
                      </span>
                      <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                          <i class="fe fe-heart"></i>
                        </button>
                      </span>
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted">
                        <%= product.category.categoryName %>
                      </a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="/product/<%= product._id %>">
                        <%= product.productName %>
                      </a>
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">
                      ₹<%= product.price %>
                    </div>

                  </div>

                </div>

              </div>
              <% }) %>
          </div>

          <!-- Pagination -->
          <nav class="d-flex justify-content-center justify-content-md-end">
            <ul class="pagination pagination-sm text-gray-400">
              <li class="page-item">
                <a class="page-link page-link-arrow" href="#">
                  <i class="fa fa-caret-left"></i>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">5</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">6</a>
              </li>
              <li class="page-item">
                <a class="page-link page-link-arrow" href="#">
                  <i class="fa fa-caret-right"></i>
                </a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </section>


  <style>
    .input-group {
      position: relative;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  </style>
  <!---------------------------------------filter------------------------------------------------------------>


  <!-------------------------------------search-------------------------------------------------------->
  <script>
    const searchProducts = () => {
      const searchBox = document.getElementById("search-item").value.toUpperCase();
      const productCards = document.querySelectorAll(".product");

      productCards.forEach(card => {
        const productName = card.querySelector(".fw-bold a").textContent.toUpperCase();

        if (productName.includes(searchBox)) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      });
    }

    document.getElementById("search-item").addEventListener("input", searchProducts);
  </script>



  <!----------------------------------------sort------------------------------------------------------------>
  <script>
    const parentDiv = document.getElementById('priceGroup');
    var checkboxes = parentDiv.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function (checkbox, index) {
      checkbox.addEventListener("change", function () {
        checkboxes.forEach(function (checkbox) {
       
          if (checkbox.checked) {
           
            checkbox.checked = false;
          }
        });
        this.checked=true;

      });
    })

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>

  <script>
    function sortItems(sortBy) {

      const products = document.querySelectorAll('.product');
      const productsArray = Array.from(products);

      switch (sortBy) {
        case 'price-low':
          productsArray.sort((a, b) => {
            const priceA = parseInt(a.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            const priceB = parseInt(b.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            return priceA - priceB;
          });
          break;
        case 'price-high':
          productsArray.sort((a, b) => {
            const priceA = parseInt(a.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            const priceB = parseInt(b.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            return priceB - priceA;
          });
          break;
        case 'new':
          productsArray.sort((a, b) => {
            const newnessA = parseInt(a.querySelector('.badge.bg-white.text-body.card-badge.card-badge-start.text-uppercase').textContent.trim());
            const newnessB = parseInt(b.querySelector('.badge.bg-white.text-body.card-badge.card-badge-start.text-uppercase').textContent.trim());
            return newnessB - newnessA;
          });
          break;

        case 'aA-zZ':
          productsArray.sort((a, b) => {
            const nameA = a.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            const nameB = b.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            if (nameA < nameB) return -1;
            if (nameA > nameB) return 1;
            return 0;
          });
          break;

        case 'zZ-aA':
          productsArray.sort((a, b) => {
            const nameA = a.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            const nameB = b.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            if (nameA > nameB) return -1;
            if (nameA < nameB) return 1;
            return 0;
          });
          break;

        default:

          break;
      }


      const productList = document.getElementById('product-list');
      // to remove all existing products from the container
      productList.innerHTML = '';
      // to dd sorted products back to the container
      productsArray.forEach(product => {
        productList.appendChild(product);
      });
    }

   

  </script>




  <%- include('../layouts/footer.ejs') %>