<%- include('../layouts/header.ejs') %>
<!------------------------------------------------------------------------------------------------------------------->

<script src="https://cdnjs.cloudflare.com/ajax/libs/zoom.js/1.7.21/zoom.min.js"></script>


<!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="/">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="shop.html">T-Shirt</a>
              </li>
              
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- PRODUCT -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6">

                <!-- Card -->
                <div class="card">

                  <!-- Badge -->
                  <!-- <div class="badge bg-primary card-badge text-uppercase">
                    Sale
                  </div> -->

                  <!-- Slider -->
                  <div class="mb-4" data-flickity='{"draggable": false, "fade": true}' id="productSlider">

                    <!-- Item -->
                    <% for (let i = 0; i < product.productImage.length; i++) { %>
                      <div class="image-container">
                          <div class="image">
                              <img src="<%= product.productImage[i] %>" alt="Product Image" class="card-img-top">
                          </div>
                      </div>
                  <% } %>
                  
                    

                    <!-- Item -->
                    <!-- <a href="#" data-bigpicture='{ "imgSrc": "/assets/img/products/product-122.jpg"}'>
                      <img src="/assets/img/products/product-122.jpg" alt="..." class="card-img-top">
                    </a> -->

                    <!-- Item -->
                    <!-- <a href="#" data-bigpicture='{ "imgSrc": "/assets/img/products/product-146.jpg"}'>
                      <img src="/assets/img/products/product-146.jpg" alt="..." class="card-img-top">
                    </a> -->

                  </div>

                </div>

                <!-- Slider -->
                <div class="flickity-nav mx-n2 mb-10 mb-md-0" data-flickity='{"asNavFor": "#productSlider", "contain": true, "wrapAround": false}'>

                  <!-- Item -->
                  <% for( let i = 0; i < product.productImage.length; i++ ) { %>
                    <div class="col-12 px-2" style="max-width: 113px;">

                      <!-- Image -->
                      <div class="ratio ratio-1x1 bg-cover" style="background-image: url('<%=product.productImage[i]%>');"></div>
                      
                    </div>
                  <% } %>
                  

                </div>

              </div>
              <div class="col-12 col-md-6 ps-lg-10">

                <!-- Header -->
                <div class="row mb-1">
                  <div class="col">

                    <!-- Preheading -->
                    <!-- <a class="text-muted" href="shop.html">Sneakers</a> -->

                  </div>
                  <div class="col-auto">

                    <!-- Rating -->
                    <div class="rating fs-xs text-dark" data-value="4">
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="rating-item">
                        <i class="fas fa-star"></i>
                      </div>
                    </div>

                    <a class="fs-sm text-reset ms-2" href="#reviews">
                      Reviews (6)
                    </a>

                  </div>
                </div>
                
                <!-- Heading -->
                <h3 class="mb-2"><%=product.productName%></h3>

                <!-- Price -->
                <div class="mb-7">
                  <!-- <span class="fs-lg fw-bold text-gray-350 text-decoration-line-through">$115.00</span> -->
                  <% if (product.offer) { %>
                    <del><span style="color: rgb(59, 56, 56);">₹<%= product.price %></span></del> 
                    <span style="color: green;">₹<%= product.price - (product.price * (product.offer.percentage/100)).toFixed(2) %></span>

                    <% }else if (product.category.offer){ %>

                      <del><span style="color: rgb(59, 56, 56);"></span>₹<%= product.price %></span></del>
                      <span style="color:green;">₹<%= product.price-(product.price * (product.category.offer.percentage/100)).toFixed(2) %></span>

                    
                  <% } else { %>
                    <span style="color: green;">₹<%= product.price %></span>
                  <% } %>
                  <span class="fs-sm ms-1">(In Stock)</span>
                </div>

                <!-- Form -->
                <form>
                  <div class="form-group">

                    <!-- Label -->
                    <p class="mb-5">
                      Color: <strong id="colorCaption"><%=product.color %></strong>
                    </p>

                    <!-- Radio -->
                    <div class="mb-8 ms-n1">
                      <div class="form-check form-check-inline form-check-img">
                        <!-- <input type="radio" class="form-check-input" id="imgRadioOne" name="imgRadio" data-toggle="form-caption" data-target="#colorCaption" value="White" style="background-image: url(/assets/img/products/product-7.jpg);" checked> -->
                      </div>
                      <div class="form-check form-check-inline form-check-img">
                        <!-- <input type="radio" class="form-check-input" id="imgRadioTwo" name="imgRadio" data-toggle="form-caption" data-target="#colorCaption" value="Black" style="background-image: url(/assets/img/products/product-49.jpg);"> -->
                      </div>
                    </div>

                  </div>
                  

                    <div class="row gx-5 mb-7">
                      
                      <div class="col-12 col-lg-auto">

                        <!-- Submit -->
                        <a href="/addToCart/<%= product._id %>">
                          <button type="button" class="btn w-100 btn-dark mb-2 add-to-cart-button">
                            Add to Cart <i class="fe fe-shopping-cart ms-2"></i>
                          </button>
                        </a>
                        

                      </div>
                      <div class="col-12 col-lg-auto">

                        <!-- Wishlist -->
                        <form action="" id="addToWishlistForm" method="POST">
                          <input type="hidden" name="productId" value="<%= product._id %>">
                          <button class="btn btn-outline-dark w-100 mb-2" data-toggle="button" type="button" onclick="addToWishlist()">
                            Wishlist <i class="fe fe-heart ms-2"></i>
                          </button>
                        </form>
                        

                      </div>
                    </div>

                    

                    <!-- Share -->
                    <p class="mb-0">
                      <span class="me-4">Share:</span>
                      <a class="btn btn-xxs btn-circle btn-light fs-xxxs text-gray-350" href="#!">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a class="btn btn-xxs btn-circle btn-light fs-xxxs text-gray-350" href="#!">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                      <a class="btn btn-xxs btn-circle btn-light fs-xxxs text-gray-350" href="#!">
                        <i class="fab fa-pinterest-p"></i>
                      </a>
                    </p>

                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- DESCRIPTION -->
    <section class="pt-11">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Nav -->
            <div class="nav nav-tabs nav-overflow justify-content-start justify-content-md-center border-bottom">
              <a class="nav-link active" data-bs-toggle="tab" href="#descriptionTab">
                Description
              </a>
             
            </div>

            <!-- Content -->
            <div class="tab-content">
              <div class="tab-pane fade show active" id="descriptionTab">
                <div class="row justify-content-center py-9">
                  <div class="col-12 col-lg-10 col-xl-8">
                    <div class="row">
                      <div class="col-12">

                        <!-- Text -->
                        <p class="text-gray-500">
                          <%=product.productDescription%>
                        </p>

                      </div>
                     
                     
                    </div>
                  </div>
                </div>
              </div>
             
          

          </div>
        </div>
      </div>
    </section>


    <!-- Include SweetAlert2 CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- Include SweetAlert2 JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
      async function addToWishlist(){
        try{
          const productId = document.querySelector('input[name="productId"]').value;
          const response = await axios.post('/wishlist-add',{productId})
          console.log(response.data.message);

          Swal.fire({
            icon: 'success',
            title: 'Product added to wishlist',
            showConfirmButton: false,
            timer: 1500
        });
        }catch(error){
          console.error(error);

          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Something went wrong!',
        });
        }
      }
    </script>



   
    
    <style>
      .image-container {
          overflow: hidden;
          display: inline-block; /* Ensure images are displayed in a block */
      }
  
      .image img {
          transform: scale(var(--zoom, 1));
          transform-origin: var(--x) var(--y);
          transition: transform 0.3s ease;
      }
  
      .image:hover {
          --zoom: 3;
      }
  </style>
  
  <script>
      document.querySelectorAll('.image').forEach(elem => {
          let x, y, width, height;
          elem.onmouseenter = () => {
              const size = elem.getBoundingClientRect();
              x = size.x;
              y = size.y;
              width = size.width;
              height = size.height;
          };
          elem.onmousemove = e => {
              const horizontal = (e.clientX - x) / width * 100;
              const vertical = (e.clientY - y) / height * 100;
              elem.style.setProperty('--x', horizontal + '%');
              elem.style.setProperty('--y', vertical + '%');
          }
      });
  </script>
  
   

    <%- include('../layouts/footer.ejs') %>

