<%- include('../layouts/header.ejs') %>

  <!-- CONTENT -->
  <section class="py-11">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">

          <!-- Filters -->
          <form class="mb-10 mb-md-0" method="get" id="filterForm">
            <ul class="nav nav-vertical" id="filterNav">
              <li class="nav-item">

                <!-- Toggle -->
                <a class="nav-link dropdown-toggle fs-lg text-reset border-bottom mb-6" data-bs-toggle="collapse"
                  href="#categoryCollapse">
                  Category
                </a>

                <!-- Collapse -->
                <div class="collapse show" id="categoryCollapse">
                  <div class="form-group">
                    <ul class="list-styled mb-0" id="productsNav">
                      <li class="list-styled-item">
                        <a class="list-styled-link" href="#">
                          All Products
                        </a>
                      </li>
                      <li class="list-styled-item">


                      </li>
                      <li class="list-styled-item">

                        <!-- Toggle -->
                        <a class="list-styled-link" data-bs-toggle="collapse" href="#dressesCollapse"
                          aria-expanded="true">
                          T-Shirt
                        </a>

                        <!-- Collapse -->
                        <div class="collapse show" id="dressesCollapse">
                          <div class="py-4 ps-5">
                            <% for(let i=0 ; i < cat.length ; i++) { %>
                              <div class="form-check mb-3">

                                <label class="form-check-label"> <input name="category" type="checkbox"
                                    value="<%= cat[i]._id  %>">
                                  <%= cat[i].categoryName %>
                                </label>
                              </div>
                              <% } %>

                          </div>
                        </div>

                      </li>
                    </ul>
                  </div>
                </div>

              </li>




              <li class="nav-item">

                <!-- Toggle -->
               
                </a>

                <!-- Collapse -->
         
                


            </ul>
            <button type="submit">filter</button>
          </form>

        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <!------------------------------------------------------------------------------------------------------------>
          <!-- Slider -->
          <div class="flickity-page-dots-inner mb-9" data-flickity='{"pageDots": true}'>

          </div>

          <!-- Header -->
          <div class="row align-items-center mb-7">
            <div class="col-12 col-md">

              <!-- Heading -->
              <h3 class="mb-1">Free Size Collections</h3>

              <!-- Breadcrumb -->
              <ol class="breadcrumb mb-md-0 fs-xs text-gray-400">
                <li class="breadcrumb-item">
                  <a class="text-gray-400" href="/">Home</a>
                </li>
                <li class="breadcrumb-item active">
                  Clothing
                </li>
              </ol>

            </div>


            <div class="row justify-content-end">
              <div class="col-auto">
                <select class="form-select form-select-xs" onchange="sortItems(this.value)">
                  <option selected disabled>Sort by</option>
                  <option value="popular">Most popular</option>
                  <option value="price-low">Price: Low to High</option>
                  <option value="price-high">Price: High to Low</option>
                  <option value="new">New Arrivals</option>
                  <option value="aA-zZ">aA-zZ</option>
                  <option value="zZ-aA">zZ-aA</option>
                </select>
              </div>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" id="search-item" class="form-control form-select-xs" placeholder="Search Products"
                    onclick="searchProducts()">
                  <i class="fe fe-search search-icon"></i>
                </div>
              </div>
            </div>



          </div>



          <!-- Products -->
          <div class="row" id="product-list">
            <% products.forEach((product,index)=> { %>
              <div class="col-6 col-md-4 product">

                <!-- Card -->
                <div class="card mb-7">

                  <!-- Badge -->
                  <div class="badge bg-white text-body card-badge card-badge-start text-uppercase">
                    New
                  </div>

                  <!-- Image -->
                  <div class="card-img">

                    <!-- Image -->
                    <a class="card-img-hover" href="/product/<%= product._id %>">
                      <img class="card-img-top card-img-back" src="<%= product.productImage[0] %>" alt="...">
                      <img class="card-img-top card-img-front" src="<%= product.productImage[0] %>" alt="...">
                    </a>

                    <!-- Actions -->
                    <div class="card-actions">
                      <!-- <span class="card-action">
                        <button class="btn btn-xs btn-circle btn-white-primary" data-bs-toggle="modal" data-bs-target="#modalProduct">
                          <i class="fe fe-eye"></i>
                        </button>
                      </span> -->
                      <span class="card-action">
                        <a href="/addToCart/<%= product._id %>" class="addToCartLink">
                            <button type="button" class="btn btn-xs btn-circle btn-white-primary addToCartButton" data-stock="<%= product.stock %>">
                                <i class="fe fe-shopping-cart"></i>
                            </button>
                        </a>
                    </span>
                    
                    
                    
                    
                    
                    
                    <span class="card-action">
                      <form action="/wishlist-add" method="post">
                          <input type="hidden" name="productId" value="<%= product._id %>">
                          <button type="submit" class="btn btn-xs btn-circle btn-white-primary" data-toggle="button">
                              <i class="fe fe-heart"></i>
                          </button>
                      </form>
                  </span>
                  
                    </div>

                  </div>

                  <!-- Body -->
                  <div class="card-body px-0">

                    <!-- Category -->
                    <div class="fs-xs">
                      <a class="text-muted">
                        <%= product.category.categoryName %>
                      </a>
                    </div>

                    <!-- Title -->
                    <div class="fw-bold">
                      <a class="text-body" href="/product/<%= product._id %>">
                        <%= product.productName %>
                      </a>
                      
                    </div>

                    <!-- Price -->
                    <div class="fw-bold text-muted">
                      <% if(product.offer ) { %>
                       
                        <span style="color: green;">₹<%= product.price-(product.price * (productOffer[index].offer.percentage/100)).toFixed(2) %></span>
                        <del><span style="color: rgb(59, 56, 56);">₹<%= product.price %></span></del>

                        <% }else if (product.category.offer){ %>

                          <span style="color:green;">₹<%= product.price-(product.price * (productOffer[index].category.offer.percentage/100)).toFixed(2) %></span>

                          <del><span style="color: rgb(59, 56, 56);"></span>₹<%= product.price %></span></del>
                          
                        <% } else { %>
                          <span style="color: green;">₹<%= product.price %></span>
                        <% } %>

                        
                    </div>

                  </div>

                </div>

              </div>
              <% }) %>
          </div>

       

        </div>
      </div>
    </div>
  </section>


  <style>
    .input-group {
      position: relative;
    }

    .search-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }

    button[type="submit"] {
    background-color: #ffffff; /* Light background color */
    border: 1px solid #dddddd; /* Light gray border */
    color: #333333; /* Text color */
    padding: 8px 16px; /* Padding around text */
    cursor: pointer; /* Cursor style */
    border-radius: 4px; /* Rounded corners */
}

  </style>
  


  <!-------------------------------------search-------------------------------------------------------->
  <script>
    const searchProducts = () => {
      const searchBox = document.getElementById("search-item").value.toUpperCase();
      const productCards = document.querySelectorAll(".product");

      productCards.forEach(card => {
        const productName = card.querySelector(".fw-bold a").textContent.toUpperCase();

        if (productName.includes(searchBox)) {
          card.style.display = "";
        } else {
          card.style.display = "none";
        }
      });
    }

    document.getElementById("search-item").addEventListener("input", searchProducts);
  </script>


  <!----------------------------------------filter------------------------------------------------------------>
 
  <script>
    const parentDiv = document.getElementById('priceGroup');
    var checkboxes = parentDiv.querySelectorAll('input[type="checkbox"]');
    checkboxes.forEach(function (checkbox, index) {
      checkbox.addEventListener("change", function () {
        checkboxes.forEach(function (checkbox) {
       
          if (checkbox.checked) {
           
            checkbox.checked = false;
          }
        });
        this.checked=true;

      });
    })

  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"></script>
   <!----------------------------------------sort------------------------------------------------------------>

  <script>
    function sortItems(sortBy) {

      const products = document.querySelectorAll('.product');
      const productsArray = Array.from(products);

      switch (sortBy) {
        case 'price-low':
          productsArray.sort((a, b) => {
            const priceA = parseInt(a.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            const priceB = parseInt(b.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            return priceA - priceB;
          });
          break;
        case 'price-high':
          productsArray.sort((a, b) => {
            const priceA = parseInt(a.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            const priceB = parseInt(b.querySelector('.fw-bold.text-muted').textContent.trim().slice(1));
            return priceB - priceA;
          });
          break;
        case 'new':
          productsArray.sort((a, b) => {
            const newnessA = parseInt(a.querySelector('.badge.bg-white.text-body.card-badge.card-badge-start.text-uppercase').textContent.trim());
            const newnessB = parseInt(b.querySelector('.badge.bg-white.text-body.card-badge.card-badge-start.text-uppercase').textContent.trim());
            return newnessB - newnessA;
          });
          break;

        case 'aA-zZ':
          productsArray.sort((a, b) => {
            const nameA = a.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            const nameB = b.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            if (nameA < nameB) return -1;
            if (nameA > nameB) return 1;
            return 0;
          });
          break;

        case 'zZ-aA':
          productsArray.sort((a, b) => {
            const nameA = a.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            const nameB = b.querySelector('.fw-bold a').textContent.trim().toLowerCase();
            if (nameA > nameB) return -1;
            if (nameA < nameB) return 1;
            return 0;
          });
          break;

        default:

          break;
      }


      const productList = document.getElementById('product-list');
      // to remove all existing products from the container
      productList.innerHTML = '';
      // to dd sorted products back to the container
      productsArray.forEach(product => {
        productList.appendChild(product);
      });
    }

   

  </script>

  <script>
    // to display all product when refesh the page
    function clearAllFilters() {
        const url = new URL(window.location.href);
        url.search = ''; // Remove all query parameters
        window.history.replaceState({}, document.title, url);
    }

    document.addEventListener('DOMContentLoaded', clearAllFilters);



    //to do not add product in cart whn the stock limit is 0
    document.querySelectorAll('.addToCartButton').forEach(button => {
    const stock = parseInt(button.getAttribute('data-stock'));
    if (stock <= 0) {
        button.disabled = true;
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default action
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'This product is out of stock!',
            });
        });
    }
});






  </script>


  <%- include('../layouts/footer.ejs') %>